:root {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* line-height: 1.5; */
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(30, 27, 27);;
}


h2 {
  font-size: 2rem;
  /* line-height: 1.1; */
  color: rgb(214, 212, 212);
}
h3{
   line-height: 1.1rem;
  color: rgb(214, 212, 212);
}

h1{
  font-size: 5rem;
  color: rgb(214, 212, 212);
}

p{
  font-size: 1.2rem;
  color: rgb(214, 212, 212);
}